<?xml version="1.0" encoding="UTF-8"?>
<Application>
    <Language Default="简体中文">
        <LangItem Name="简体中文" File="lang/lang_zh.qm" NSISLanguage="2052" Icon=""/>
        <LangItem Name="繁體中文" File="lang/zh_TW.qm" NSISLanguage="1028" Icon=""/>
        <LangItem Name="English" File="lang/lang_en.qm" NSISLanguage="1033" Icon=""/>
        <LangItem Name="Türkçe" File="lang/tr.qm" NSISLanguage="1055" Icon=""/>
        <LangItem Name="Deutsch" File="lang/de.qm" NSISLanguage="1031" Icon=""/>
        <LangItem Name="español" File="lang/es.qm" NSISLanguage="1034" Icon=""/>
        <LangItem Name="فارسی" File="lang/fa.qm" NSISLanguage="1065" Icon=""/>
        <LangItem Name="日本語" File="lang/jp.qm" NSISLanguage="1041" Icon=""/>
        <LangItem Name="한국어" File="lang/kr.qm" NSISLanguage="1042" Icon=""/>
        <LangItem Name="русский" File="lang/ru.qm" NSISLanguage="1049" Icon=""/>
        <LangItem Name="polski" File="lang/pl.qm" NSISLanguage="1045" Icon=""/>
        <LangItem Name="Indonesia" File="lang/id.qm" NSISLanguage="1057" Icon=""/>
        <LangItem Name="العربية" File="lang/ar.qm" NSISLanguage="1025" Icon=""/>
        <LangItem Name="italiano" File="lang/it.qm" NSISLanguage="1040" Icon=""/>
        <LangItem Name="Français" File="lang/fr.qm" NSISLanguage="1036" Icon=""/>
        <LangItem Name="Ελλάδα" File="lang/el.qm" NSISLanguage="1032" Icon=""/>
        <LangItem Name="силвиа" File="lang/sr.qm" NSISLanguage="3098" Icon=""/>
        <LangItem Name="Portugal" File="lang/pt.qm" NSISLanguage="2070" Icon=""/>
        <LangItem Name="Malaysia" File="lang/ms.qm" NSISLanguage="1086" Icon=""/>
        <LangItem Name="ไทย" File="lang/tl.qm" NSISLanguage="1054" Icon=""/>
        <LangItem Name="Việt Nam" File="lang/vi.qm" NSISLanguage="1066" Icon=""/>
    </Language>
</Application>
